@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--color-text: #1E1E1E;
--color-error: #B3261E;
--color-paper: #FFFFFF;
--color-primary: #1F3A5F;
--color-background: #FAF7F2;
--color-primary-contrast: #C2A661;
--color-header: #4B2E2B;
}


html,
body {
    @apply bg-background text-text w-screen h-screen underline-offset-4
}

button {
    @apply p-2 px-4 bg-primary text-primary-Contrast rounded-full
}

a {
    @apply  hover:underline active:opacity-50 transition-opacity
}